* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  background-color: #7159c1;
}

div {
  width: 80%;
  margin: 20px;
  font-size: 20px;
}

div li {
  display: flex;
  align-items: center;
  background-color: #fff;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
  margin-bottom: 15px;
  margin-inline-end: 50px;
}

div li + li {
  margin-top: 15px;
}

.techsContainer{
    flex-direction: row;
    margin-top: 10;
  }
  .tech {
    font-size: 12;
    align-items: center;
    font-weight: bold;
    margin-right:10;
    background-color: #04d361;
    margin-top: 15px;
    padding-inline-start: 10;
    padding-bottom: 5;
    color: #fff;
  }

  .likesContainer{
    margin-top: 15;
    flex-direction: "row";
    justify-content: "space-between";
  }
  .likeText{
    font-size: 14;
    font-weight: bold;
    margin-right: 10;
  }

  .btnlike {
    margin:5px;
    border-color:#000;
    align-items:center;
    justify-content:center;
    width:60;
    height:50;
    border: 0;
    padding: 10px 15px;
    background-color:#7159c1;
    border-radius:50;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
  }


.btnadd{
  background-color: #FFF;
  margin: 20;
  height: 50;
  border-radius: 4px;
  border: 0;
  padding: 10px 15px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
}


.btnrem{
  margin:5px;
  border-color: #000;
  align-items:center;
  justify-content:center;
  width:60;
  height:50;
  background-color:#ca4949;
  border-radius:50;
  border: 0;
  padding: 10px 15px;
  font-weight: bold;
  font-size: 16px;
}

.btnupd {
  margin:5px;
  border-color:#000;
  align-items:center;
  justify-content:center;
  width:60;
  height:50;
  border: 0;
  padding: 10px 15px;
  background-color:#808080;
  border-radius:50;
  font-weight: bold;
  font-size: 16px;
}

